.logo {
  display: flex;
  align-items: baseline;
}

.logoThe,
.logoShop {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #a891c4;
  text-transform: lowercase;
  letter-spacing: -0.02em !important;
  margin-left: 5px; /* увеличивает расстояние от "Curtain" */
}

.logoUrtain {
  font-family: "Alex Brush", cursive;
  font-size: 44px;
  color: #332756;
  line-height: 1;
  margin-left: -20px; /* move "urtain" into the C */
  margin-top: 5px; /* move down on Y-axis */
  letter-spacing: -0.02em;
  position: relative;
}

.logoC {
  font-family: "Alex Brush", cursive;
  font-size: 64px;
  color: #332756;
  line-height: 0.7; /* уменьши для сжатия по вертикали */
  transform: scaleY(1.8) translateY(3px); /* растяни по вертикали */
  font-weight: 400; /* обычная толщина */
  position: relative;
  z-index: 1;
}
