/* Navigation */
.mainNav {
  display: flex;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
}

/* Более плавные переходы */
@media (max-width: 1400px) {
  .mainNav a {
    padding: 15px 22px;
    font-size: 13.8px;
  }
}

@media (max-width: 1200px) {
  .mainNav a {
    padding: 15px 18px;
    font-size: 13.5px;
  }
}

@media (max-width: 1000px) {
  .mainNav a {
    padding: 15px 15px;
    font-size: 13px;
  }
}

@media (max-width: 900px) {
  .mainNav a {
    padding: 14px 12px;
    font-size: 12.5px;
  }
}

@media (max-width: 800px) {
  .mainNav a {
    padding: 14px 10px;
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .mainNav a {
    padding: 12px 8px;
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .mainNav {
    flex-direction: column;
    align-items: center;
  }

  .mainNav a {
    width: 100%;
    padding: 10px 25px;
    font-size: 14px;
  }
}
