.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px; /* Расстояние между всеми элементами */
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5px;
  flex-wrap: wrap;
}

/* Медиа-запрос для мобильных устройств и узких экранов */
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: center;
  }
}
