.header {
  width: 100%;
  font-family: Arial, sans-serif;
}

/* для мобильных устройств и узких экранов */
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: center;
  }
}
